In [74]:
import numpy as np
import pandas as pd
import math

In [75]:
game_history = pd.DataFrame(columns = ["Game","Round","LFT","CP","SLT", "OLT","ST","SUC","OUC","STC","OTC","SAC","OAC","SBC","OBC"])
game_history.set_index(['Game', 'Round'], inplace = True)
game_history.astype(dtype = {"LFT": bool, "CP" : int, "SLT": int, "OLT": int , "SUC": int,"OUC": int,"STC": int,"OTC": int,"SAC": int,"OAC": int,"SBC": int,"OBC": int})

Empty DataFrame
Columns: [LFT, CP, SLT, OLT, ST, SUC, OUC, STC, OTC, SAC, OAC, SBC, OBC]
Index: []

In [76]:
sample_state_matrix = pd.read_csv("./sample_state_matrix.csv", header = 0)
sample_state_matrix

,Game,Round,LFT,CP,SLT,OLT,ST,SUC,OUC,STC,OTC,SAC,OAC,SBC,OBC
0,1,1,True,1,1,1,"[""opponent_creature"",""opponent_life""]",1,1,1,1,1,1,1,1

In [77]:
sample_state_matrix.dtypes

Game      int64
Round     int64
LFT        bool
CP        int64
SLT       int64
OLT       int64
ST       object
SUC       int64
OUC       int64
STC       int64
OTC       int64
SAC       int64
OAC       int64
SBC       int64
OBC       int64
dtype: object

In [78]:
new_entry = {"Game":1, "Round":2}
sample_state_matrix = sample_state_matrix.append(new_entry, ignore_index = True)
new_entry = {"Game":2, "Round":1}
sample_state_matrix = sample_state_matrix.append(new_entry, ignore_index = True)
sample_state_matrix.set_index(["Game","Round"], inplace = True)
sample_state_matrix

            LFT   CP  SLT  OLT                                     ST  SUC  \
Game Round
1.0  1.0    1.0  1.0  1.0  1.0  ["opponent_creature","opponent_life"]  1.0
     2.0    NaN  NaN  NaN  NaN                                    NaN  NaN
2.0  1.0    NaN  NaN  NaN  NaN                                    NaN  NaN

            OUC  STC  OTC  SAC  OAC  SBC  OBC
Game Round
1.0  1.0    1.0  1.0  1.0  1.0  1.0  1.0  1.0
     2.0    NaN  NaN  NaN  NaN  NaN  NaN  NaN
2.0  1.0    NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [83]:
sample_state_matrix.loc[(2,1)]

LFT    NaN
CP     NaN
SLT    NaN
OLT    NaN
ST     NaN
SUC    NaN
OUC    NaN
STC    NaN
OTC    NaN
SAC    NaN
OAC    NaN
SBC    NaN
OBC    NaN
Name: (2.0, 1.0), dtype: object

In [ ]:
# setting up the old strategy and runnning it to see if it collect data properly (possibly save it to a CSV file)